/* theme : 
header,footer:#f5f5f5
body component: #fffff3 
secondry color:#195693 \\rgb(25, 86, 147) 
main-heading size :35px
secondary-heading:30px

*/
.MainHeading{
  font-size: 35px;
}
.SecondryHeading{
  font-size: 30px;
}
.MemberSection {
  background-color: rgb(25, 86, 147) !important ;
  color: #fffff3 !important;
  height: 100%;
}
.TecherSection {
  background-color: rgb(25, 86, 147) !important;
  color: #fffff3 !important;

  height: 100%;
  width: 100%;
}
.ProgramDetailsAlignmentWithPictureRight {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 45px;
}
.ProgramDetailsAlignmentWithPictureLeft {
  margin-top: 60px;
  margin-left: 45px;
  margin-right: 40px;
}

.projectPageHeader {
  text-align: center;
  padding: 25px 0px;
  background-color: rgb(25, 86, 147);
  color: #fffff3;
}

.OurprojectHeader {
  text-align: center;
  padding: 35px 0px;
  background-color: rgb(25, 86, 147);
  color: #fffff3;
}
.inverseStyle {
  background: rgb(25, 86, 147);
}
.aboutSectionHomePage {
  background-color: #fffff3;
  color: rgb(25, 86, 147);
  font-size: 1.4em;
  padding: 45px 0px;
}
.ourImpactHomePage {
  background-color: rgb(25, 86, 147);
  color: #fffff3;
  padding: 65px 0px;
  font-size: 1.27em;
}
.ourImpactHomePage ul {
  padding: 0px;
  margin-top: 20px;
}
.ourImpactHomePage p {
  margin-top: 20px;
}
.homeTrianglePic {
  --webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 290px;
  width: 320px;
}

.homeWhatWeDo {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  height: 180px;
  width: 180px;
}
.homeWhatWeDoText {
  margin: 0px 250px;
}
.aboutusHeadingsStyle {
  padding-left: 110px;

}
.homeImpact {
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  height: 180px;
  width: 180px;
}
.homeHowYouCanHelp {

  border-radius: 100px;
  height: 180px;
  width: 180px;
}
.aboutMeIMGheight {
  height: 380px;
  width: 100%;
}
.solePictures {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.displayIMGheight {
  height: 350px;
  width: 100%;
}
.AboutMESPACING {
  margin-top: 150px;
}

.SecondryCard {
  background-color: #fffff3;

  border-radius: 2px;
  text-align: center;
  color: rgb(25, 86, 147) !important;
  padding: 30px;
  margin-top: 15px;
  font-size: 17px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.OtherProgramsPictures {
  width: 60%;
  margin: 10px auto !important;
  height: 65%;
}
.TeamMemberWIDTH {
  margin: 10px auto;
  width: 80%;
  height: 500px;
}
.aboutUsParagraph {
  font-size: 17px;
  letter-spacing: 0.03em;
  padding-left: 110px;
}
.programPageMainImg{
  width:100%;
  height:350px !important;
}

@media (max-width: 755px) {
  .TeacherParagrapghAlign{
    margin-top: 0px;
  }
  .getinvolvedStyle{
    padding: 31px;
  }
    .aboutusHeadingsStyle {
        padding-left: 0px; 
      }
      .aboutUsParagraph {
        padding-left: 0px;
      }
  .ProgramDetailsAlignmentWithPictureRight {
    margin: 10px;
  }
  .ProgramDetailsAlignmentWithPictureLeft {
    margin: 10px;
  }
  .TeamMemberWIDTH {
    margin: 20px auto;
    width: 85%;

    height: auto !important;
  }
  .aboutUsParagraph {
    padding-right: 0px;
  }
  .homeTrianglePic {
    width: 100%;
    height: auto;
  }
  .homeWhatWeDo {
    width: 80%;
    height: auto;
    max-height: 200px;
    max-width: 250px;
  }
  .homeWhatWeDoText {
    margin: 0px 10px;
  }
  .homeImpact {
    width: 80%;
    height: auto;
    max-height: 200px;
    max-width: 280px;
  }
  .homeHowYouCanHelp {
    width: 80%;
    height: auto;
    max-height: 200px;
    max-width: 250px;
  }
  .SecondryCard {
    margin-top: 25px;

    height: auto;
  }
}

@media (min-width: 1024px) {
  .SecondryCard {
    height: 600px;
  }
  .getinvolvedStyle {
    padding: 35px;
  }
  .TeacherParagrapghAlign{
    margin-top: 0px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .SecondryCard {
    height: 502px;
  }
  .getinvolvedStyle {
    padding: 40px;
  }.TeacherParagrapghAlign{
    margin-top: 43px;
  }
}

