.MemberSection{
    background-color: #233067 !important ;
    color:#F0F0FC  !important;
    height: 100%;
}
.TecherSection{
    background-color: #233067 !important;
    color:#F0F0FC !important;
  
   height: 100%;
   width:100%;
}

